<!-- Transaction History -->
<div class="w-full mt-10 py-8">
  <div class="w-full">
    <h1 class="text-3xl font-bold text-center mb-6 uppercase text-white">Lịch sử nạp tiền</h1>

    <div class="overflow-hidden border border-gray-600 rounded-lg">
      <table class="min-w-full">
        <thead class="bg-regular-gray-cl text-white">
          <tr>
            <th class="py-3 px-4 text-left font-semibold border-r border-gray-600">Nội dung</th>
            <th class="py-3 px-4 text-left font-semibold border-r border-gray-600">Số tiền nhận</th>
            <th class="py-3 px-4 text-left font-semibold border-r border-gray-600">Ngày</th>
            <th class="py-3 px-4 text-left font-semibold">Trạng Thái</th>
          </tr>
        </thead>
        <tbody class="bg-regular-black-cl text-regular-light-gray-cl">
          <tr>
            <td colspan="4" class="text-center py-8">
              Bạn Chưa Có Cuộc Giao Dịch Nào
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>