<div class="md:w-[80%] sm:w-[95%] w-full mx-auto p-5 relative z-20">
  <h1 class="text-4xl font-bold text-white mb-10">Nạp tiền</h1>

  <div class="flex md:flex-row flex-col gap-5">
    <!-- Deposit Form -->
    <div class="md:w-[60%] w-full bg-regular-gray-cl text-white p-5 border border-gray-600 rounded-lg shadow-md">
      <h2 class="text-xl font-bold text-red-500 mb-4">Nạp bằng thẻ cào</h2>

      <div class="mb-4">
        <select
          class="bg-transparent text-inherit border border-gray-600 w-full px-3 py-2 rounded-md text-sm focus:outline-none focus:ring-2 focus:ring-regular-light-blue-cl">
          <option class="text-black">Thẻ MOBIFONE</option>
          <option class="text-black">Thẻ VIETTEL</option>
          <option class="text-black">Thẻ VINAPHONE</option>
        </select>
      </div>

      <div class="mb-4">
        <select
          class="bg-transparent text-inherit border border-gray-600 w-full px-3 py-2 rounded-md text-sm focus:outline-none focus:ring-2 focus:ring-regular-light-blue-cl">
          <option class="text-black">10,000đ - 30%</option>
          <option class="text-black">20,000đ - 30%</option>
          <option class="text-black">50,000đ - 30%</option>
          <option class="text-black">100,000đ - 30%</option>
        </select>
      </div>

      <div class="mb-4">
        <input type="text" placeholder="Mã thẻ"
          class="bg-transparent border border-gray-600 border-solid w-full px-3 py-2 rounded-md text-sm text-inherit focus:outline-none focus:ring-2 focus:ring-regular-light-blue-cl">
      </div>

      <div class="mb-6">
        <input type="text" placeholder="Số seri"
          class="bg-transparent border border-gray-600 border-solid w-full px-3 py-2 rounded-md text-sm text-inherit focus:outline-none focus:ring-2 focus:ring-regular-light-blue-cl">
      </div>

      <button class="CSS-button-white-decoration px-5 py-2 w-full">
        Nạp ngay
      </button>
    </div>

    <!-- Notice Box -->
    <div class="md:w-[40%] w-full bg-regular-gray-cl text-white p-5 border border-gray-600 rounded-lg shadow-md h-fit">
      <h2 class="text-xl font-bold text-red-500 mb-4">(*) Chú ý</h2>
      <ul class="list-disc list-inside space-y-2 text-sm">
        <li class="text-red-500">Chọn sai mệnh giá sẽ bị mất thẻ</li>
        <li class="text-red-500">Nạp thẻ vina trừ phí thấp nhất</li>
        <li>% là số % phí sẽ bị trừ khi nạp thẻ cào</li>
        <li>Khuyến khích nạp bằng ngân hàng sẽ không mất phí</li>
      </ul>
    </div>
  </div>

  <%- include('./history') %>
</div>