:root {
  --vcn-regular-black-cl: #212224;
  // --vcn-regular-blue-cl: #2ba6ff;
  --vcn-regular-blue-cl: #93c5fd;
  --vcn-regular-blue-hover-cl: #0f86da;
  --vcn-regular-dark-blue-cl: #006ed7;
  --vcn-regular-light-blue-cl: #93c5fd;
  --vcn-regular-gray-cl: #2f3036;
  --vcn-regular-light-gray-cl: #9ca3af;
  --vcn-regular-gradient-dark-cl: linear-gradient(to bottom, #040407, #040811);
  --vcn-regular-gradient-dark-blue-cl: linear-gradient(to bottom, #0d1a33, #040811);
  --vcn-regular-neon-cl: var(--vcn-regular-blue-cl);
}
