<!-- Header: Navbar -->
<header id="header" class="CSS-blur-bottom-black-bg py-3 px-6 flex items-center justify-between sticky top-0 z-[99]">
  <a href="/">
    <span class="text-xl font-bold text-regular-blue-cl">ThueAccValorant.Com</span>
  </a>

  <!-- Drawer component -->
  <div id="drawer-navigation"
    class="fixed top-0 left-0 z-[100] h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-regular-gray-cl w-80"
    tabindex="-1" aria-labelledby="drawer-navigation-label">
    <h5 id="drawer-navigation-label" class="text-base font-semibold text-gray-400 uppercase">Menu</h5>
    <button type="button" data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation"
      class="text-gray-400 bg-transparent hover:bg-gray-700 hover:text-white rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center">
      <%- include('./icons/close-icon') %>
      <span class="sr-only">Close menu</span>
    </button>
    <div class="py-4 overflow-y-auto">
      <ul class="space-y-2 font-medium">
        <li>
          <a href="/rent-account" class="flex items-center p-2 rounded-lg text-white CSS-neon-text-hover group">
            <span class="ms-3">Thuê tài khoản</span>
          </a>
        </li>
        <li>
          <button type="button"
            class="flex items-center w-full p-2 text-base rounded-lg group transition duration-75 text-white CSS-neon-text-hover"
            aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
            <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Nạp tiền</span>
            <%- include('./icons/dropdown-icon') %>
          </button>
          <ul id="dropdown-example" class="hidden py-2 space-y-2">
            <li>
              <a href="/deposit/card"
                class="flex items-center w-full p-2 transition duration-75 rounded-lg pl-11 group text-white CSS-neon-text-hover">Nạp
                thẻ cào</a>
            </li>
            <li>
              <a href="/deposit/banking"
                class="flex items-center w-full p-2 transition duration-75 rounded-lg pl-11 group text-white CSS-neon-text-hover">Nạp
                qua ngân hàng</a>
            </li>
            <li>
              <a href="#"
                class="flex items-center w-full p-2 transition duration-75 rounded-lg pl-11 group text-white CSS-neon-text-hover">Hướng
                dẫn nạp tiền</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/contact" class="flex items-center p-2 rounded-lg text-white CSS-neon-text-hover group">
            <span class="flex-1 ms-3 whitespace-nowrap">Liên hệ</span>
          </a>
        </li>
        <li>
          <a href="/login-register" class="CSS-button-white-decoration py-[6px] px-[20px]">
            Đăng nhập
          </a>
        </li>
      </ul>
    </div>
  </div>

  <button data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation" aria-controls="drawer-navigation"
    type="button"
    class="inline-flex items-center p-2 text-sm rounded-lg md:hidden text-gray-400 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <%- include('./icons/menu-icon') %>
  </button>

  <nav class="md:flex hidden gap-8 items-center font-bold">
    <div class="text-white">
      <button class="flex items-center gap-2 hover:text-regular-blue-cl" data-dropdown-toggle="deposit-menu">
        <span>Nạp tiền</span>
        <%- include('./icons/dropdown-icon') %>
      </button>
      <div id="deposit-menu"
        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
          <li>
            <a href="/deposit/card" class="block px-4 py-2 hover:bg-gray-600 hover:text-regular-blue-cl">Nạp thẻ cào</a>
          </li>
          <li>
            <a href="/deposit/banking" class="block px-4 py-2 hover:bg-gray-600 hover:text-regular-blue-cl">Nạp qua ngân
              hàng</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-600 hover:text-regular-blue-cl">Hướng dẫn nạp tiền</a>
          </li>
        </ul>
      </div>
    </div>
    <a href="/rent-account" class="text-white hover:text-regular-blue-cl">Thuê tài khoản</a>
    <a href="/contact" class="text-white hover:text-regular-blue-cl">Liên hệ</a>
    <div>
      <a href="/login-register" class="CSS-button-white-decoration py-[6px] px-[20px]">
        Đăng nhập
      </a>
    </div>
  </nav>
</header>