<div id="hero-bg"
  class="absolute top-0 left-0 w-full z-10 h-hero-bg bg-[url('/imgs/hero-background-mobile-v-full.png')] md:bg-[url('/imgs/hero-background.png')] bg-cover bg-top bg-no-repeat">
</div>

<section class="relative">
  <section id="hero" class="flex flex-col items-center justify-center gap-4 mt-[50px] relative z-20">
    <img src="/imgs/skull.png" alt="Skull" class="h-[200px] bg-black rounded-full shadow-[0_0_35px_black]" />
    <h1 class="CSS-big-text-stroke md:text-4xl text-3xl font-extrabold text-regular-blue-cl drop-shadow-lg">
      ThueAccValorant.Com</h1>
    <p class="CSS-small-text-stroke text-gray-200 mt-2 text-center text-lg font-bold">Nơi thuê acc Valorant uy tín</p>
  </section>

  <!-- Category -->
  <section id="category"
    class="CSS-blur-black-bg md:px-28 px-2 w-full flex items-center flex-wrap justify-center gap-2 p-4 mt-[50px] relative z-20">
    <button class="CSS-button-white-decoration px-4 py-2 whitespace-nowrap">
      Acc thuê theo giờ
    </button>
    <button class="CSS-button-white-decoration px-4 py-2 whitespace-nowrap">
      Acc thuê theo ngày
    </button>
    <button class="CSS-button-white-decoration px-4 py-2 whitespace-nowrap">
      Acc thuê theo tuần
    </button>
    <button class="CSS-button-white-decoration px-4 py-2 whitespace-nowrap">
      Acc thuê theo tháng
    </button>
  </section>

  <%- include('./stall') %>

  <div id="infinite-scroll-flag" class="w-full"></div>
</section>